<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BellFox-Teachers</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" href="assets/vendor/simplebar.min.css" rel="stylesheet">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- App CSS -->
    <link type="text/css" href="assets/css/app.css" rel="stylesheet">
    <link type="text/css" href="assets/css/app.rtl.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- <link type="text/css" href="assets/css/main.css" rel="stylesheet"> -->

    <!-- Material Design Icons -->
    <link type="text/css" href="assets/css/vendor-material-icons.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-material-icons.rtl.css" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="assets/css/vendor-fontawesome-free.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">

    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133433427-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-133433427-1');
    </script>


    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '327167911228268');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=327167911228268&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->



    <!-- Flatpickr -->
    <link type="text/css" href="assets/css/vendor-flatpickr.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-flatpickr.rtl.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-flatpickr-airbnb.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-flatpickr-airbnb.rtl.css" rel="stylesheet">




</head>

<body class="layout-default">













    <div class="preloader"></div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <div id="header" class="mdk-header js-mdk-header m-0" data-fixed>
            <div class="mdk-header__content">

                <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark  pr-0" id="navbar" data-primary>
                    <div class="container-fluid p-0">

                        <!-- Navbar toggler -->

                        <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                        <!-- Navbar Brand -->
                        <a href="index.html" class="navbar-brand ">
                            <img class="navbar-brand-icon" src="assets/images/stack-logo-white.svg" width="22" alt="Stack">
                            <span>Bellfox</span>
                        </a>




                        <form class="search-form d-none d-sm-flex flex" action="index.html">
                            <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
                            <input type="text" class="form-control" placeholder="Search">
                        </form>


                        <ul class="nav navbar-nav ml-auto d-none d-md-flex" style="display: none !important;">
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="material-icons">help_outline</i> Get Help
                                </a>
                            </li>
                            <li class="nav-item mr-3">
                                <a href="pricing.html" class="btn btn-outline-warning">
                                    <i class="material-icons">star</i> PRO
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                    <i class="material-icons nav-icon navbar-notifications-indicator">notifications</i>
                                </a>
                                <div id="notifications_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu">
                                    <div class="dropdown-item d-flex align-items-center py-2">
                                        <span class="flex navbar-notifications-menu__title m-0">Notifications</span>
                                        <a href="javascript:void(0)" class="text-muted"><small>Clear all</small></a>
                                    </div>
                                    <div class="navbar-notifications-menu__content" data-simplebar>
                                        <div class="py-2">

                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>

                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>

                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <a href="javascript:void(0);" class="dropdown-item text-center navbar-notifications-menu__footer">View All</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-height align-items-center">
                            <li class="nav-item dropdown">
                                <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                    <img src="assets/images/avatar/demi.png" class="rounded-circle" width="32" alt="Frontted">
                                    <span class="ml-1 d-flex-inline">
                                        <span class="text-light">Adrian D.</span>
                                    </span>
                                </a>
                                <div id="account_menu" class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-item-text dropdown-item-text--lh">
                                        <div><strong>Adrian Demian</strong></div>
                                        <div>@adriandemian</div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="index.html">Dashboard</a>
                                    <a class="dropdown-item" href="profile.html">My profile</a>
                                    <a class="dropdown-item" href="edit-account.html">Edit account</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="login.html">Logout</a>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
                <div class="mdk-drawer-layout__content page">


                    <div class="bg-white border-bottom" style="display: none;">
                        <div class="container-fluid page__container">
                            <div class="card-header-tabs-basic nav" role="tablist">
                                <a href="#" class="active">All</a>
                                <a href="#">Pro</a>
                                <a href="#">Active</a>
                                <a href="#">Temporary</a>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid page__heading-container">
                        <div class="page__heading d-flex align-items-center">
                            <div class="flex">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Add Teacher</li>
                                    </ol>
                                </nav>
                                <h1 class="m-0">Teachers</h1>
                            </div>
                            <!-- <a href="" class="btn btn-success ml-3">Add Student</a> -->
                        </div>
                    </div>

                    <div class="container-fluid page__container">
                        <div class="card">
                            <div class="card-header">
                                <div class="heading-layout">
                                    <div class="title">
                                        <h3>Add New Teacher</h3>
                                    </div>
                                </div>
                                <form class="mg-b-20">
                                    <div class="row search-form">
                                        <div class="col-2 form-group designation name">
                                            <label class="text-label"></label>
                                            <select size="1" class="form-control" style="padding: 7%" class="selectpicker form-control" data-style="select-with-transition" title="Select Blood Group" data-size="7" required>
                                                <option disabled></option>
                                                <option value="2">Mr</option>
                                                <option value="3">Mrs</option>
                                                <option value="4">Ms</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 form-group name">
                                            <label class="text-label">First Name *</label>
                                            <input type="text" placeholder="" class="form-control" required>
                                        </div>
                                        <div class="col-lg-3 form-group name">
                                            <label class="text-label">Middle Name *</label>
                                            <input type="text" placeholder="" class="form-control" required>
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label class="text-label">Last Name *</label>
                                            <input type="text" placeholder="" class="form-control" required>
                                        </div>
                                        <div class="col-lg-6 col-12 form-group">
                                            <label class="text-label">Husband/Father's Name *</label>
                                            <input type="text" placeholder="" class="form-control" required>
                                        </div>
                                        <div class="col-lg-6 col-12 form-group gender">
                                            <label class="text-label">Gender *</label>
                                            <select size="1" class="form-control" style="padding: 2.5%" class="selectpicker form-control" data-style="select-with-transition" title="Select Section" data-size="7" required>
                                                <option disabled>Select Gender</option>
                                                <option value="2">Male</option>
                                                <option value="3">Female</option>
                                                <option value="4">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-12 form-group">
                                            <label class="text-label">Email *</label>
                                            <input type="email" placeholder="" class="form-control" required>
                                        </div>
                                        <div class="col-lg-6 col-12 form-group">
                                            <label class="text-label">Contact No *</label>
                                            <input type="tel" placeholder="" class="form-control" required>
                                        </div>
                                        <div class="col-lg-6 col-12 form-group dob">
                                            <label class="text-label" for="flatpickrSample01">Date Of Birth</label>
                                            <input id="flatpickrSample01" type="text" class="form-control" placeholder="Flatpickr example" data-toggle="flatpickr" value="today">
                                        </div>
                                        <div class="col-lg-6 col-12 form-group">
                                            <label class="text-label">Aadhar Card Number *</label>
                                            <input type="text" placeholder="" class="form-control" required>
                                        </div>
                                        <div class="col-lg-6 col-12 form-group edq">
                                            <label class="text-label">Educational Qualification *</label>
                                            <select size="1" class="form-control" style="padding: 2.5%" class="selectpicker form-control" data-style="select-with-transition" title="Select Blood Group" data-size="7" required>
                                                <option disabled>Select One</option>
                                                <option value="2">No formal education</option>
                                                <option value="3">Primary education</option>
                                                <option value="4">Secondary education or high school</option>
                                                <option value="5">GED</option>
                                                <option value="6">Vocational qualification</option>
                                                <option value="7">Bachelor's degree</option>
                                                <option value="8">Master's degree</option>
                                                <option value="9">Doctorate or higher</option>
                                                <option value="10">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-12 form-group designation">
                                            <label class="text-label">Subject *</label>
                                            <select size="1" class="selectpicker form-control" data-live-search="true" style="padding: 2.5%" data-style="select-with-transition" title="Select Occupation" data-size="7" required>
                                                <option value="" selected="selected" disabled="disabled">Select Your Subject</option>
                                                <option value="1">English</option>
                                                <option value="2">Hindi</option>
                                                <option value="3">Maths</option>
                                                <option value="4">Computer</option>
                                                <optgroup label="Science:">
                                                    <option value="5">Physics</option>
                                                    <option value="6">Chemistry</option>
                                                    <option value="7">Biology</option>
                                                </optgroup>
                                                <optgroup label="Social Sciences:">
                                                    <option value="8">History</option>
                                                    <option value="9">Geography</option>
                                                    <option value="10">Civics</option>
                                                </optgroup>
                                                <optgroup label="Art:">
                                                    <option value="11">Dance</option>
                                                    <option value="12">Music</option>
                                                    <option value="13">Art & Craft</option>
                                                    <option value="14">Physical Education</option>
                                                </optgroup>
                                                <optgroup label="Languages:">
                                                    <option value="15">French</option>
                                                    <option value="16">German</option>
                                                    <option value="17">Spanish</option>
                                                </optgroup>
                                                <option value="18">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-12 form-group">
                                            <label class="text-label" for="flatpickrSample01">Date Of Joining</label>
                                            <input id="flatpickrSample01" type="text" class="form-control" placeholder="Flatpickr example" data-toggle="flatpickr" value="today">
                                        </div>

                                        <section class="parents-guardian-info col-12">
                                            <div class="heading-layout">
                                                <h5>Address Information</h5>
                                            </div>
                                            <form class="mg-b-20">
                                                <div class="row search-form address">
                                                     <p>Current Address</p>
                                                    <div class="col-12 form-group">
                                                        <label class="text-label">Address *</label>
                                                        <input type="text" placeholder="" class="form-control" name="currentaddress1" required>
                                                    </div>
                                                    <div class="col-12 form-group">
                                                        <!-- <label>Middle Name </label> -->
                                                        <input type="text" placeholder="" class="form-control" name="currentaddress2" required>
                                                    </div>
                                                    <div class="col-4 form-group state">
                                                        <label class="text-label">State *</label>
                                                        <select id="countrySelect" size="1" name="currentstate" class="form-control" onchange="makeSubmenu(this.value)" style="padding: 4%">
                                                            <option value="" disabled selected>Choose State</option>
                                                            <option>Andhra Pradesh</option>
                                                            <option>Arunachal Pradesh</option>
                                                            <option>Assam</option>
                                                            <option>Bihar</option>
                                                            <option>Chandigarh</option>
                                                            <option>Chhattisgarh</option>
                                                            <option>Delhi</option>
                                                            <option>Goa</option>
                                                            <option>Gujarat</option>
                                                            <option>Haryana</option>
                                                            <option>Himachal Pradesh</option>
                                                            <option>Jammu and Kashmir</option>
                                                            <option>Jharkhand</option>
                                                            <option>Karnataka</option>
                                                            <option>Kerala</option>
                                                            <option>Madhya Pradesh</option>
                                                            <option>Maharashtra</option>
                                                            <option>Manipur</option>
                                                            <option>Meghalaya</option>
                                                            <option>Mizoram</option>
                                                            <option>Nagaland</option>
                                                            <option>Odisha</option>
                                                            <option>Punjab</option>
                                                            <option>Rajasthan</option>
                                                            <option>Sikkim</option>
                                                            <option>Tamil Nadu</option>
                                                            <option>Telangana</option>
                                                            <option>Tripura</option>
                                                            <option>Uttar Pradesh</option>
                                                            <option>Uttarakhand</option>
                                                            <option>West Bengal</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-4 form-group city">
                                                        <label class="text-label">City *</label>
                                                        <select id="citySelect" size="1" name="currentcity" class="form-control" style="padding: 4%">
                                                            <option value="" disabled selected>Choose City</option>
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-4 form-group">
                                                        <label class="text-label">Zip Code *</label>
                                                        <input type="text" placeholder="" class="form-control" name="currentcode" required>
                                                    </div>
                                                </div>
                                                <div class="row search-form address">
                                                     <p>Permanent Address</p>
                                                    <div class="col-12 form-group">
                                                        <input type="checkbox" name="permanenttoo" onclick="FillPermanent(this.form)">
                                                        <em>Same as Above.</em>
                                                    </div>
                                                    <div class="col-12 form-group">
                                                        <label class="text-label">Address *</label>
                                                        <input type="text" placeholder="" class="form-control" name="permanentaddress1" required>
                                                    </div>
                                                    <div class="col-12 form-group">
                                                        <input type="text" placeholder="" class="form-control" name="permanentaddress2" required>
                                                    </div>
                                                    <div class="col-4 form-group state">
                                                        <label class="text-label">State *</label>
                                                        <select id="countrySelect2" size="1" class="form-control" name="permanentstate" onchange="makeSubmenu2(this.value)" style="padding: 4%">
                                                            <option value="" disabled selected>Choose State</option>
                                                            <option>Andhra Pradesh</option>
                                                            <option>Arunachal Pradesh</option>
                                                            <option>Assam</option>
                                                            <option>Bihar</option>
                                                            <option>Chandigarh</option>
                                                            <option>Chhattisgarh</option>
                                                            <option>Delhi</option>
                                                            <option>Goa</option>
                                                            <option>Gujarat</option>
                                                            <option>Haryana</option>
                                                            <option>Himachal Pradesh</option>
                                                            <option>Jammu and Kashmir</option>
                                                            <option>Jharkhand</option>
                                                            <option>Karnataka</option>
                                                            <option>Kerala</option>
                                                            <option>Madhya Pradesh</option>
                                                            <option>Maharashtra</option>
                                                            <option>Manipur</option>
                                                            <option>Meghalaya</option>
                                                            <option>Mizoram</option>
                                                            <option>Nagaland</option>
                                                            <option>Odisha</option>
                                                            <option>Punjab</option>
                                                            <option>Rajasthan</option>
                                                            <option>Sikkim</option>
                                                            <option>Tamil Nadu</option>
                                                            <option>Telangana</option>
                                                            <option>Tripura</option>
                                                            <option>Uttar Pradesh</option>
                                                            <option>Uttarakhand</option>
                                                            <option>West Bengal</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-4 form-group city">
                                                        <label class="text-label">City *</label>
                                                        <select id="citySelect2" size="1" name="permanentcity" class="form-control" style="padding: 4%">
                                                            <option value="" disabled selected>Choose City</option>
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-4 form-group">
                                                        <label class="text-label">Zip Code *</label>
                                                        <input type="text" placeholder="" class="form-control" name="permanentcode" required>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>

                                        <section class="parents-guardian-info col-12">
                                            <form class="mg-b-20">
                                                <div class="row search-form experience">
                                                    <div class="col-12 form-group">
                                                        <label class="text-label">Experience*</label>
                                                        <div class="form-control experience-years">
                                                            <div class="years">
                                                                <input type="number" min="0" placeholder="4" id="years" style="border: none; outline: none; width: 100% ; height: 40px;" required>
                                                            </div>
                                                        </div>
                                                        <!-- <input type="number" placeholder="" class="form-control" required> -->
                                                    </div>
                                                </div>
                                            </form>
                                        </section>

                                        <div class="col-12 form-group mg-t-30">
                                            <label class="text-label">Upload Photo (150px X 150px)</label>
                                            <input type="file" class="form-control-file">
                                        </div>
                                        <div class="col-12 form-group mg-t-8">
                                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark save-btn">Save</button>
                                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow reset-btn">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- // END drawer-layout__content -->
                <div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
                    <div class="mdk-drawer__content">
                        <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>
                            <div class="d-flex align-items-center sidebar-p-a border-bottom sidebar-account">
                                <a href="profile.html" class="flex d-flex align-items-center text-underline-0 text-body">
                                    <span class="avatar mr-3">
                                        <img src="assets/images/avatar/demi.png" alt="avatar" class="avatar-img rounded-circle">
                                    </span>
                                    <span class="flex d-flex flex-column">
                                        <strong>Adrian Demian</strong>
                                        <small class="text-muted text-uppercase">Account Manager</small>
                                    </span>
                                </a>
                                <div class="dropdown ml-auto">
                                    <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-item-text dropdown-item-text--lh">
                                            <div><strong>Adrian Demian</strong></div>
                                            <div>@adriandemian</div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="index.html">Dashboard</a>
                                        <a class="dropdown-item" href="profile.html">My profile</a>
                                        <a class="dropdown-item" href="edit-account.html">Edit account</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="login.html">Logout</a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-heading sidebar-m-t">Menu</div>
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item ">
                                    <a class="sidebar-menu-button" href="/dashboard">
                                        <i class="sidebar-menu-icon fa fa-chart-line"></i>
                                        <span class="sidebar-menu-text">Dashboard</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item ">
                                    <a class="sidebar-menu-button" href="/students">
                                        <i class="sidebar-menu-icon fas fa-user-alt"></i>
                                        <span class="sidebar-menu-text">Students</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item ">
                                    <a class="sidebar-menu-button" href="/parents">
                                        <i class="sidebar-menu-icon fas fa-user-friends"></i>
                                        <span class="sidebar-menu-text">Parents</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item active open">
                                        <a class="sidebar-menu-button" data-toggle="collapse" href="#staff_menu">
                                            <i class="sidebar-menu-icon fas fa-users"></i>
                                            <span class="sidebar-menu-text">Staff</span>
                                            <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                        </a>
                                        <ul class="sidebar-submenu collapse show" id="staff_menu">
                                            <li class="sidebar-menu-item ">
                                                        <a class="sidebar-menu-button" href="/admins">
                                                            <span class="sidebar-menu-text">Admin</span>
                                                        </a>
                                                    </li>
                                                    <li class="sidebar-menu-item ">
                                                            <a class="sidebar-menu-button" data-toggle="collapse" href="#management_menu">
                                                                <span class="sidebar-menu-text">Management</span>
                                                                <span class="ml-auto d-flex align-items-center">
                                                                    <span class="sidebar-menu-toggle-icon"></span>
                                                                </span>
                                                            </a>
                                                            <ul class="sidebar-submenu collapse show" id="management_menu">
                                                                <li class="sidebar-menu-item">
                                                                    <a class="sidebar-menu-button" href="/ctaform">
                                                                        <span class="sidebar-menu-text">CTA</span>
                                                                    </a>
                                                                </li>
                                                                <li class="sidebar-menu-item ">
                                                                    <a class="sidebar-menu-button" href="/principal">
                                                                        <span class="sidebar-menu-text">Principal</span>
                                                                    </a>
                                                                </li>
                                                                <li class="sidebar-menu-item ">
                                                                    <a class="sidebar-menu-button" href="/viceprincipal">
                                                                        <span class="sidebar-menu-text">Vice Principal</span>
                                                                    </a>
                                                                </li>
                                                                <li class="sidebar-menu-item ">
                                                                    <a class="sidebar-menu-button" href="/hods">
                                                                        <span class="sidebar-menu-text">HOD</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                    </li>
                                                    <li class="sidebar-menu-item active">
                                                            <a class="sidebar-menu-button" href="/teachers">
                                                                <span class="sidebar-menu-text">Teachers</span>
                                                            </a>
                                                    </li>
                                                    <li class="sidebar-menu-item ">
                                                            <a class="sidebar-menu-button" data-toggle="collapse" href="#workers_menu">
                                                                <span class="sidebar-menu-text">Workers</span>
                                                                <span class="ml-auto d-flex align-items-center">
                                                                    <span class="sidebar-menu-toggle-icon"></span>
                                                                </span>
                                                            </a>
                                                            <ul class="sidebar-submenu collapse" id="workers_menu">
                                                                <li class="sidebar-menu-item ">
                                                                    <a class="sidebar-menu-button" href="/drivers">
                                                                        <span class="sidebar-menu-text">Drivers</span>
                                                                    </a>
                                                                </li>
                                                                <li class="sidebar-menu-item ">
                                                                    <a class="sidebar-menu-button" href="/serviceworker">
                                                                        <span class="sidebar-menu-text">Service Workers</span>
                                                                    </a>
                                                                </li>
                                                                <li class="sidebar-menu-item">
                                                                    <a class="sidebar-menu-button" href="/cleaners">
                                                                        <span class="sidebar-menu-text">Cleaners</span>
                                                                    </a>
                                                                </li>
                                                                <li class="sidebar-menu-item">
                                                                    <a class="sidebar-menu-button" href="/assistant">
                                                                        <span class="sidebar-menu-text">Assistant</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                    </li>
                                        </ul>
                                    </li>

                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/settings">
                                        <i class="sidebar-menu-icon fas fa-cog"></i>
                                        <span class="sidebar-menu-text">Settings</span>
                                    </a>
                                </li>
    
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/reports">
                                        <i class="sidebar-menu-icon fas fa-file-alt"></i>
                                        <span class="sidebar-menu-text">Reports</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/logout">
                                        <i class="sidebar-menu-icon fas fa-file-alt"></i>
                                        <span class="sidebar-menu-text">Logout</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!-- // END drawer-layout -->

        </div>
        <!-- // END header-layout__content -->

    </div>
    <!-- // END header-layout -->

    <!-- App Settings FAB -->
    <div id="app-settings">
        <app layout-active="default" :layout-location="{
      'default': 'staff.html',
      'fixed': 'fixed-staff.html',
      'fluid': 'fluid-staff.html',
      'mini': 'mini-staff.html'
    }"></app>
    </div>

    <!-- jQuery -->
    <!-- <script src="assets/vendor/jquery.min.js"></script> -->

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <!-- Simplebar -->
    <script src="assets/vendor/simplebar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- App -->
    <script src="assets/js/toggle-check-all.js"></script>
    <script src="assets/js/check-selected-row.js"></script>
    <script src="assets/js/dropdown.js"></script>
    <script src="assets/js/sidebar-mini.js"></script>
    <script src="assets/js/app.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>



    <!-- Flatpickr -->
    <script src="assets/vendor/flatpickr/flatpickr.min.js"></script>
    <script src="assets/js/flatpickr.js"></script>

    <!-- Global Settings -->
    <script src="assets/js/settings.js"></script>


    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- UI Charts Page JS -->
    <script src="assets/js/chartjs-rounded-bar.js"></script>
    <script src="assets/js/charts.js"></script>

    <!-- Chart.js Samples -->
    <script src="assets/js/page.staff.js"></script>
    <script type="text/javascript">

        var citiesByState = {
        // Andhra-Pradesh  : ["Visakhapatnam", "Vijayawada", "Guntur"],
        // Arunachal-Pradesh : ['Itanagar'],
        Assam : ["Guwahati", "Silchar", "Dibrugarh", "Nagaon"],
        Bihar : ["Patna", "Gaya", "Bhagalpur", "Muzaffarpur", "Biharsharif"],
        Chandigarh : ['Chandigarh'],
        Chhattisgarh : ["Raipur", "Bhilai Nagar", "Korba", "Bilaspur", "Durg"],
        Delhi : ['Delhi'],
        Goa : ['Panaji'],
        Gujarat : ["Ahmedabad", "Surat", "Vadodara", "Rajkot", "Bhavnagar"],
        Haryana : ["Faridabad", "Gurgaon", "Rohtak", "Hisar", "Panipat"],
        // Himachal-Pradesh : ['Shimla'],
        // Jammu-Kashmir : ["Srinagar", "Jammu", "Anantnag"],
        Jharkhand : [   "Dhanbad", "Ranchi", "Jamshedpur", "Bokaro Steel", "Mango" ],
        Karnataka : ["Bangalore", "Hubli and Dharwad", "Mysore", "Gulbarga", "Belgaum"],
        Kerala : ["Trivandrum", "Kochi", "Kozhikode", "Kollam", "Thrissur"],
        // Madhya-Pradesh  : ["Indore", "Bhopal", "Jabalpur",  "Gwalior", "Ujjain"],
        Maharashtra : ["Mumbai",  "Pune", "Nagpur", "Thane", "Pimpri and Chinchwad"],
        Manipur : ['Imphal'],
        Meghalaya : ['Shillong'],
        Mizoram : ['Aizawl'],
        Nagaland : ['Dimapur'],
        Odisha : ["Bhubaneswar", "Cuttack", "Brahmapur Town", "Raurkela", "Puri Town"],
        Punjab : ["Ludhiana", "Amritsar", "Jalandhar", "Patiala", "Bathinda"],
        Rajasthan : ["Jaipur", "Jodhpur", "Kota", "Bikaner", "Ajmer"],
        Sikkim  : ['Gangtok'],
        // Tamil-Nadu : [  "Chennai", "Coimbatore", "Madurai", "Tiruchirappalli", "Salem"],
        // Telangana : [   "Hyderabad", "Warangal"],
        Tripura : ['Agartala'],
        // Uttar-Pradesh : ["Lucknow", "Kanpur", "Ghaziabad", "Agra", "Meerut"],
        // Uttarakhand : ["Dehradun", "Hardwar", "Haldwani and Kathgodam", "Rudrapur"],
        // West-Bengal : ["Kolkata", "Haora", "Durgapur", "Asansol", "Siliguri"]



        // Odisha: ["Bhubaneswar","Puri","Cuttack"],
        // Maharashtra: ["Mumbai","Pune","Nagpur"],    
        // Kerala: ["kochi","Kanpur"]
        }

        function makeSubmenu(value) {
        if(value.length==0) document.getElementById("citySelect").innerHTML = "<option></option>";
        else {
        var citiesOptions = "";
        for(cityId in citiesByState[value]) {
        citiesOptions+="<option>"+citiesByState[value][cityId]+"</option>";
        }
        document.getElementById("citySelect").innerHTML = citiesOptions;
        }
        }
        function displaySelected() { var country = document.getElementById("countrySelect").value;
        var city = document.getElementById("citySelect").value;
        alert(country+"\n"+city);
        }
        function resetSelection() {
        document.getElementById("countrySelect").selectedIndex = 0;
        document.getElementById("citySelect").selectedIndex = 0;
        }

        function makeSubmenu2(value) {
        if(value.length==0) document.getElementById("citySelect2").innerHTML = "<option></option>";
        else {
        var citiesOptions = "";
        for(cityId in citiesByState[value]) {
        citiesOptions+="<option>"+citiesByState[value][cityId]+"</option>";
        }
        document.getElementById("citySelect2").innerHTML = citiesOptions;
        }
        }
        function displaySelected() { var country = document.getElementById("countrySelect2").value;
        var city = document.getElementById("citySelect2").value;
        alert(country+"\n"+city);
        }
        function resetSelection() {
        document.getElementById("countrySelect2").selectedIndex = 0;
        document.getElementById("citySelect2").selectedIndex = 0;
        }


        $(function() {
            $( "#datepicker-1" ).datepicker();
        });
 

        function FillPermanent(f) {
          if(f.permanenttoo.checked == true) {
            f.permanentaddress1.value = f.currentaddress1.value;
            f.permanentaddress2.value = f.currentaddress2.value;
            f.permanentcity.value = f.currentcity.value;
            f.permanentstate.value = f.currentstate.value;
            f.permanentcode.value = f.currentcode.value;

          }
        }
    </script>
</body>

</html>