<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bellfox-Admin Details</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" href="assets/vendor/simplebar.min.css" rel="stylesheet">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- App CSS -->
    <link type="text/css" href="assets/css/app.css" rel="stylesheet">
    <link type="text/css" href="assets/css/app.rtl.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- <link type="text/css" href="assets/css/main.css" rel="stylesheet"> -->

    <!-- Material Design Icons -->
    <link type="text/css" href="assets/css/vendor-material-icons.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-material-icons.rtl.css" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="assets/css/vendor-fontawesome-free.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133433427-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-133433427-1');
    </script>


    <!-- Facebook Pixel Code -->
    <script>
        ! function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '327167911228268');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=327167911228268&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->



    <!-- Flatpickr -->
    <link type="text/css" href="assets/css/vendor-flatpickr.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-flatpickr.rtl.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-flatpickr-airbnb.css" rel="stylesheet">
    <link type="text/css" href="assets/css/vendor-flatpickr-airbnb.rtl.css" rel="stylesheet">




</head>

<body class="layout-default">













    <div class="preloader"></div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <div id="header" class="mdk-header js-mdk-header m-0" data-fixed>
            <div class="mdk-header__content">

                <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark  pr-0" id="navbar" data-primary>
                    <div class="container-fluid p-0">

                        <!-- Navbar toggler -->

                        <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button"
                            data-toggle="sidebar">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                        <!-- Navbar Brand -->
                        <a href="index.html" class="navbar-brand ">
                            <img class="navbar-brand-icon" src="assets/images/stack-logo-white.svg" width="22"
                                alt="Stack">
                            <span>Bellfox</span>
                        </a>




                        <form class="search-form d-none d-sm-flex flex" action="index.html">
                            <button class="btn" type="submit" role="button"><i
                                    class="material-icons">search</i></button>
                            <input type="text" class="form-control" placeholder="Search">
                        </form>


                        <ul class="nav navbar-nav ml-auto d-none d-md-flex" style="display: none !important;">
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="material-icons">help_outline</i> Get Help
                                </a>
                            </li>
                            <li class="nav-item mr-3">
                                <a href="pricing.html" class="btn btn-outline-warning">
                                    <i class="material-icons">star</i> PRO
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                    data-caret="false">
                                    <i class="material-icons nav-icon navbar-notifications-indicator">notifications</i>
                                </a>
                                <div id="notifications_menu"
                                    class="dropdown-menu dropdown-menu-right navbar-notifications-menu">
                                    <div class="dropdown-item d-flex align-items-center py-2">
                                        <span class="flex navbar-notifications-menu__title m-0">Notifications</span>
                                        <a href="javascript:void(0)" class="text-muted"><small>Clear all</small></a>
                                    </div>
                                    <div class="navbar-notifications-menu__content" data-simplebar>
                                        <div class="py-2">

                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg"
                                                            alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs"
                                                            style="width: 32px; height: 32px;">
                                                            <span class="avatar-title bg-purple rounded-circle"><i
                                                                    class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs"
                                                            style="width: 32px; height: 32px;">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>

                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg"
                                                            alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs"
                                                            style="width: 32px; height: 32px;">
                                                            <span class="avatar-title bg-purple rounded-circle"><i
                                                                    class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs"
                                                            style="width: 32px; height: 32px;">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>

                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg"
                                                            alt="Avatar" class="avatar-img rounded-circle">
                                                    </div>
                                                </div>
                                                <div class="flex">
                                                    <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                    <small class="text-muted">1 minute ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs"
                                                            style="width: 32px; height: 32px;">
                                                            <span class="avatar-title bg-purple rounded-circle"><i
                                                                    class="material-icons icon-16pt">person_add</i></span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    New user <a href="#">Peter Parker</a> signed up.<br>
                                                    <small class="text-muted">1 hour ago</small>
                                                </div>
                                            </div>
                                            <div class="dropdown-item d-flex">
                                                <div class="mr-3">
                                                    <a href="#">
                                                        <div class="avatar avatar-xs"
                                                            style="width: 32px; height: 32px;">
                                                            <span class="avatar-title rounded-circle">JD</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="flex">
                                                    <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                    <div>Hey, how are you? What about our next meeting</div>
                                                    <small class="text-muted">2 minutes ago</small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <a href="javascript:void(0);"
                                        class="dropdown-item text-center navbar-notifications-menu__footer">View All</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-height align-items-center">
                            <li class="nav-item dropdown">
                                <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                    data-caret="false">
                                    <img src="assets/images/avatar/demi.png" class="rounded-circle" width="32"
                                        alt="Frontted">
                                    <span class="ml-1 d-flex-inline">
                                        <span class="text-light">Adrian D.</span>
                                    </span>
                                </a>
                                <div id="account_menu" class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-item-text dropdown-item-text--lh">
                                        <div><strong>Adrian Demian</strong></div>
                                        <div>@adriandemian</div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="index.html">Dashboard</a>
                                    <a class="dropdown-item" href="profile.html">My profile</a>
                                    <a class="dropdown-item" href="edit-account.html">Edit account</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="login.html">Logout</a>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
                <div class="mdk-drawer-layout__content page">


                    <div class="bg-white border-bottom" style="display: none;">
                        <div class="container-fluid page__container">
                            <div class="card-header-tabs-basic nav" role="tablist">
                                <a href="#" class="active">All</a>
                                <a href="#">Pro</a>
                                <a href="#">Active</a>
                                <a href="#">Temporary</a>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid page__heading-container">
                        <div class="page__heading d-flex align-items-center">
                            <div class="flex">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Admin Details</li>
                                    </ol>
                                </nav>
                                <h1 class="m-0">Admins</h1>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid page__container">
                        <div class="row card-group-row" style="display: none;">
                            <div class="col-lg-4 col-md-6 card-group-row__col">
                                <div class="card card-group-row__card">
                                    <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                        <div class="flex">
                                            <div class="card-header__title text-muted mb-2 d-flex">Budget <span
                                                    class="badge badge-warning ml-2">20%</span></div>
                                            <span class="h4 m-0">&dollar;24,000 <small class="text-muted"> /
                                                    &dollar;50,000</small> </span>
                                        </div>
                                        <div><i class="material-icons icon-muted icon-40pt ml-3">monetization_on</i>
                                        </div>
                                    </div>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 card-group-row__col">
                                <div class="card card-group-row__card">
                                    <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                        <div class="flex">
                                            <div class="card-header__title text-muted d-flex mb-2">Current Target <span
                                                    class="badge badge-primary ml-2">2018</span></div>
                                            <span class="h4 m-0">&dollar;50,000 </span>
                                        </div>
                                        <div><i class="material-icons icon-muted icon-40pt ml-3">gps_fixed</i></div>
                                    </div>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar" role="progressbar" style="width: 50%;"
                                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 card-group-row__col">
                                <div class="card card-group-row__card">
                                    <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                        <div class="flex">
                                            <div class="card-header__title text-muted mb-2">Top Grossing</div>

                                            <div class="d-flex align-items-center">
                                                <div class="h4 m-0">&dollar;13,531 </div>
                                                <div class="progress ml-1" style="width:100%;height: 3px;">
                                                    <div class="progress-bar bg-success" role="progressbar"
                                                        style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div><i class="material-icons icon-muted icon-40pt ml-3">contacts</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" style="display: none;">
                            <div class="card-header bg-white d-flex align-items-center">
                                <h4 class="card-header__title mb-0">Earnings</h4>
                                <div class="flatpickr-wrapper flatpickr-calendar-right d-flex ml-auto">
                                    <div id="recent_orders_date" data-toggle="flatpickr" data-flatpickr-wrap="true"
                                        data-flatpickr-static="true" data-flatpickr-mode="range"
                                        data-flatpickr-alt-format="d/m/Y" data-flatpickr-date-format="d/m/Y">
                                        <a href="javascript:void(0)" class="link-date" data-toggle>13/03/2018 to
                                            20/03/2018</a>
                                        <input class="d-none" type="hidden" value="13/03/2018 to 20/03/2018" data-input>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="ordersChart" class="chart-canvas"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="card" style="height: auto;">
                            <div class="card-body">
                                <div class="heading-layout">
                                    <div class="title col-12">
                                        <h3>About Me</h3>
                                    </div>
                                </div>
                                <div class="info-details">
                                    <div class="col-md-4">
                                        <img src="assets/images/256_luke-porter-261779-unsplash.jpg">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="name">
                                            Michael Smith
                                        </div>
                                        <p>
                                            Aliquam erat volutpat. Curabiene natis massa sedde lacu stiquen sodale word
                                            moun taiery.Aliquam erat volutpaturabiene natis massa sedde sodale word moun
                                            taiery.
                                        </p>

                                        <table align='center' cellspacing=2 cellpadding=10 id="data_table" class="info-table" border=1
                                            style="border:none ; width: 100% ;">
                                        
                                        
                                            <tr id="row1">
                                                <td class="left text-label">Name : </td>
                                                <td id="value1" class="right">Michael Smith</td>
                                                <td class="icons">
                                                    <i class="fa fa-pen" id="edit_button1" class="edit" onclick="edit_row('1')"></i>
                                                    <i class="fa fa-check" id="save_button1" class="save" onclick="save_row('1')" style="display: none"></i>
                                                </td>
                                            </tr>
                                        
                                            <tr id="row2">
                                                <td class="left text-label">Gender : </td>
                                                <td id="value2" class="right">Male</td>
                                                <td class="icons">
                                                    <i class="fa fa-pen" id="edit_button2" class="edit" onclick="edit_row('2')"></i>
                                                    <i class="fa fa-check" id="save_button2" class="save" onclick="save_row('2')" style="display: none"></i>
                                                </td>
                                            </tr>
                                        
                                            <tr id="row3">
                                                <td class="left text-label">Email : </td>
                                                <td id="value3" class="right">michaelsmith@gmail.com</td>
                                                <td class="icons">
                                                    <i class="fa fa-pen" id="edit_button3" class="edit" onclick="edit_row('3')"></i>
                                                    <i class="fa fa-check" id="save_button3" class="save" onclick="save_row('3')" style="display: none"></i>
                                                </td>
                                            </tr>
                                        
                                            <tr id="row4">
                                                <td class="left text-label">Mobile No : </td>
                                                <td id="value4" class="right">9927401274</td>
                                                <td class="icons">
                                                    <i class="fa fa-pen" id="edit_button4" class="edit" onclick="edit_row('4')"></i>
                                                    <i class="fa fa-check" id="save_button4" class="save" onclick="save_row('4')" style="display: none"></i>
                                                </td>
                                            </tr>
                                        
                                            <tr id="row5">
                                                <td class="left text-label">Date Of Birth : </td>
                                                <td id="value5" class="right">07.08.2016</td>
                                                <td class="icons">
                                                    <i class="fa fa-pen" id="edit_button5" class="edit" onclick="edit_row('5')"></i>
                                                    <i class="fa fa-check" id="save_button5" class="save" onclick="save_row('5')" style="display: none"></i>
                                                </td>
                                            </tr>
                                        
                                            <tr id="row6">
                                                <td class="left text-label">Educational Qualification : </td>
                                                <td id="value6" class="right">Bcom</td>
                                                <td class="icons">
                                                    <i class="fa fa-pen" id="edit_button6" class="edit" onclick="edit_row('6')"></i>
                                                    <i class="fa fa-check" id="save_button6" class="save" onclick="save_row('6')" style="display: none"></i>
                                                </td>
                                            </tr>
                                        
                                            <tr id="row7">
                                                <td class="left text-label">Experience : </td>
                                                <td id="value7" class="right">4+ Years</td>
                                                <td class="icons">
                                                    <i class="fa fa-pen" id="edit_button7" class="edit" onclick="edit_row('7')"></i>
                                                    <i class="fa fa-check" id="save_button7" class="save" onclick="save_row('7')" style="display: none"></i>
                                                </td>
                                            </tr>
                                        
                                            <tr id="row8">
                                                <td class="left text-label">Joined On : </td>
                                                <td id="value8" class="right">07.08.2019</td>
                                                <td class="icons">
                                                    <i class="fa fa-pen" id="edit_button8" class="edit" onclick="edit_row('8')"></i>
                                                    <i class="fa fa-check" id="save_button8" class="save" onclick="save_row('8')" style="display: none"></i>
                                                </td>
                                            </tr>
                                        
                                            <tr id="row9">
                                                <td class="left text-label">Permanent Address : </td>
                                                <td id="value9" class="right">24 , Gr Flr, Prasad Chambers, Opera House, Mumbai</td>
                                                <td class="icons">
                                                    <i class="fa fa-pen" id="edit_button9" class="edit" onclick="edit_row('9')"></i>
                                                    <i class="fa fa-check" id="save_button9" class="save" onclick="save_row('9')" style="display: none"></i>
                                                </td>
                                            </tr>
                                        
                                            <tr id="row10">
                                                <td class="left text-label">Current Address : </td>
                                                <td id="value10" class="right">24 , Gr Flr, Prasad Chambers, Opera House, Mumbai</td>
                                                <td class="icons">
                                                    <i class="fa fa-pen" id="edit_button10" class="edit" onclick="edit_row('10')"></i>
                                                    <i class="fa fa-check" id="save_button10" class="save" onclick="save_row('10')" style="display: none"></i>
                                                </td>
                                            </tr>    
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // END drawer-layout__content -->

                <div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
                    <div class="mdk-drawer__content">
                        <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>
                            <div class="d-flex align-items-center sidebar-p-a border-bottom sidebar-account">
                                <a href="profile.html"
                                    class="flex d-flex align-items-center text-underline-0 text-body">
                                    <span class="avatar mr-3">
                                        <img src="assets/images/avatar/demi.png" alt="avatar"
                                            class="avatar-img rounded-circle">
                                    </span>
                                    <span class="flex d-flex flex-column">
                                        <strong>Adrian Demian</strong>
                                        <small class="text-muted text-uppercase">Account Manager</small>
                                    </span>
                                </a>
                                <div class="dropdown ml-auto">
                                    <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i
                                            class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-item-text dropdown-item-text--lh">
                                            <div><strong>Adrian Demian</strong></div>
                                            <div>@adriandemian</div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="index.html">Dashboard</a>
                                        <a class="dropdown-item" href="profile.html">My profile</a>
                                        <a class="dropdown-item" href="edit-account.html">Edit account</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="login.html">Logout</a>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-heading sidebar-m-t">Menu</div>
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item ">
                                    <a class="sidebar-menu-button" href="/dashboard">
                                        <i class="sidebar-menu-icon fa fa-chart-line"></i>
                                        <span class="sidebar-menu-text">Dashboard</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item ">
                                    <a class="sidebar-menu-button" href="/students">
                                        <i class="sidebar-menu-icon fas fa-user-alt"></i>
                                        <span class="sidebar-menu-text">Students</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item ">
                                    <a class="sidebar-menu-button" href="/parents">
                                        <i class="sidebar-menu-icon fas fa-user-friends"></i>
                                        <span class="sidebar-menu-text">Parents</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item active open">
                                    <a class="sidebar-menu-button" data-toggle="collapse" href="#staff_menu">
                                        <i class="sidebar-menu-icon fas fa-users"></i>
                                        <span class="sidebar-menu-text">Staff</span>
                                        <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                    </a>
                                    <ul class="sidebar-submenu collapse show" id="staff_menu">
                                        <li class="sidebar-menu-item ">
                                            <a class="sidebar-menu-button" href="/admins">
                                                <span class="sidebar-menu-text">Admin</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-menu-item ">
                                            <a class="sidebar-menu-button" data-toggle="collapse"
                                                href="#management_menu">
                                                <span class="sidebar-menu-text">Management</span>
                                                <span class="ml-auto d-flex align-items-center">
                                                    <span class="sidebar-menu-toggle-icon"></span>
                                                </span>
                                            </a>
                                            <ul class="sidebar-submenu collapse show" id="management_menu">
                                                <li class="sidebar-menu-item">
                                                    <a class="sidebar-menu-button" href="/ctaform">
                                                        <span class="sidebar-menu-text">CTA</span>
                                                    </a>
                                                </li>
                                                <li class="sidebar-menu-item ">
                                                    <a class="sidebar-menu-button" href="/principal">
                                                        <span class="sidebar-menu-text">Principal</span>
                                                    </a>
                                                </li>
                                                <li class="sidebar-menu-item ">
                                                    <a class="sidebar-menu-button" href="/viceprincipal">
                                                        <span class="sidebar-menu-text">Vice Principal</span>
                                                    </a>
                                                </li>
                                                <li class="sidebar-menu-item ">
                                                    <a class="sidebar-menu-button" href="/hods">
                                                        <span class="sidebar-menu-text">HOD</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sidebar-menu-item ">
                                            <a class="sidebar-menu-button" href="/teachers">
                                                <span class="sidebar-menu-text">Teachers</span>
                                            </a>
                                        </li>
                                        <li class="sidebar-menu-item ">
                                            <a class="sidebar-menu-button" data-toggle="collapse" href="#workers_menu">
                                                <span class="sidebar-menu-text">Workers</span>
                                                <span class="ml-auto d-flex align-items-center">
                                                    <span class="sidebar-menu-toggle-icon"></span>
                                                </span>
                                            </a>
                                            <ul class="sidebar-submenu collapse " id="workers_menu">
                                                <li class="sidebar-menu-item ">
                                                    <a class="sidebar-menu-button" href="/drivers">
                                                        <span class="sidebar-menu-text">Drivers</span>
                                                    </a>
                                                </li>
                                                <li class="sidebar-menu-item ">
                                                    <a class="sidebar-menu-button" href="/serviceworker">
                                                        <span class="sidebar-menu-text">Service Workers</span>
                                                    </a>
                                                </li>
                                                <li class="sidebar-menu-item">
                                                    <a class="sidebar-menu-button" href="/cleaners">
                                                        <span class="sidebar-menu-text">Cleaners</span>
                                                    </a>
                                                </li>
                                                <li class="sidebar-menu-item">
                                                    <a class="sidebar-menu-button" href="/assistant">
                                                        <span class="sidebar-menu-text">Assistant</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/settings">
                                        <i class="sidebar-menu-icon fas fa-cog"></i>
                                        <span class="sidebar-menu-text">Settings</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/reports">
                                        <i class="sidebar-menu-icon fas fa-file-alt"></i>
                                        <span class="sidebar-menu-text">Reports</span>
                                    </a>
                                </li>

                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="/logout">
                                        <i class="sidebar-menu-icon fas fa-file-alt"></i>
                                        <span class="sidebar-menu-text">Logout</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!-- // END drawer-layout -->

        </div>
        <!-- // END header-layout__content -->

    </div>
    <!-- // END header-layout -->

    <!-- App Settings FAB -->
    <div id="app-settings">
        <app layout-active="default" :layout-location="{
      'default': 'staff.html',
      'fixed': 'fixed-staff.html',
      'fluid': 'fluid-staff.html',
      'mini': 'mini-staff.html'
    }"></app>
    </div>

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Simplebar -->
    <script src="assets/vendor/simplebar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- App -->
    <script src="assets/js/toggle-check-all.js"></script>
    <script src="assets/js/check-selected-row.js"></script>
    <script src="assets/js/dropdown.js"></script>
    <script src="assets/js/sidebar-mini.js"></script>
    <script src="assets/js/app.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>



    <!-- Flatpickr -->
    <script src="assets/vendor/flatpickr/flatpickr.min.js"></script>
    <script src="assets/js/flatpickr.js"></script>

    <!-- Global Settings -->
    <script src="assets/js/settings.js"></script>


    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- UI Charts Page JS -->
    <script src="assets/js/chartjs-rounded-bar.js"></script>
    <script src="assets/js/charts.js"></script>

    <!-- Chart.js Samples -->
    <script src="assets/js/page.staff.js"></script>

    <script>
        function edit_row(no) {
            document.getElementById("edit_button" + no).style.display = "none";
            document.getElementById("save_button" + no).style.display = "inline-block";

            var name = document.getElementById("value" + no);

            var name_data = name.innerHTML;

            name.innerHTML = "<input type='text' id='name_text" + no + "' value='" + name_data + "'>";
        }

        function save_row(no) {
            var name_val = document.getElementById("name_text" + no).value;

            document.getElementById("value" + no).innerHTML = name_val;

            document.getElementById("edit_button" + no).style.display = "inline-block";
            document.getElementById("save_button" + no).style.display = "none";
        }

    </script>

</body>

</html>