body {
    margin: 0;
    padding: 0;
}
.container {
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.wrapper {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    border-radius: 35px;
    width: auto;
    padding: 10px 20px;
    transform: scale(1.0);
    transition: all 0.4s ease-in-out;
    margin-bottom: 2%;
}

.buttons:hover , .buttons:focus {
    transform: scale(1.04);
    background-color: #000;
    color: #fff;
    text-decoration: none;
    outline: none;
    border: none;
}

.login-form , .signup-form {
    width: 20% !important;
    /* background-color: #61BD92; */
    padding-left: 5% !important;
    padding-right: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Sidebar */
.sidebar-menu-item i {
	margin-right: 4%;
	/* color: #ccc !important; */
}

.name {
	margin-right: 2%;
}

.table thead th {
	text-align: center !important;
	/* margin-right: auto !important; */
	/* margin-left: auto !important; */
}
.table tbody tr {
	cursor: pointer;
}
.heading-layout {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: none;
	margin-bottom: 12px;
	padding: 10px 0; 
}

.heading-layout .title h3 {
	color: #111;
	font-weight: 500;
	margin-bottom: 0;
}

.search-form {
	padding: 0 11px;
	border: none !important;
	/*background-color: yellow !important;*/
}

.row.search-form > [class^="col-"] {
    padding-left: 4px;
    padding-right: 4px;
    /*background-color: pink;*/
    /*margin-right: 4px;*/
}
.row.search-form > [class^="col-"] input{
	/*width: 40px !important;*/
	/*border: 1px solid #bbb;*/
	/*background-color: pink;*/
	background-color: #f8f8f8;
}
.form-group {
	margin-bottom: 1rem !important;
	margin-top: 1rem !important;
}
.form-group .form-control {
    height: 45px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #111111;
    border-radius: 4px;
    border: none;
    padding: 5px 15px;
}
.row.search-form > [class^="col-"] button {
	border: none;
	outline: none;
}
.search-btn {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 44px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #61BD92;
    letter-spacing: 1px;
    padding: 10px;
    cursor: pointer;
    z-index: 9;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.search-btn:hover , .save-btn:hover , .reset-btn:hover{
	background-color: #234D4A;
}